mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

#name {
  width: 70%;
  margin-right: 10%;
}

#servings {
  width: 18%;
}

.server-error {
  margin: 8px 0;
}

input {
  height: 2em;
  div.mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

div.mat-form-field-wrapper {
  padding-bottom: 1.15em;
}
