mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1640px) {
  main {
    display: grid;
    grid-template-columns: 33% 33% 33% auto;
    grid-template-areas: "general instructions ingredients";
  }
}
