<div class="uploadContainer">
  <div
    class="dropzone"
    appDropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering"
  >
    <h3>Recipe Image</h3>
    <p>Drag and Drop a File</p>
  </div>

  <div id="progressBar" *ngIf="percentage | async as pct">
    <mat-progress-bar [value]="pct" max="100"></mat-progress-bar>
  </div>

  <div *ngIf="snapshot | async as snap">
    <div class="imageContainer">
      <img mat-card-image [src]="downloadURL" />
      <a [href]="downloadURL" target="_blank" rel="noopener"></a>
    </div>
  </div>
</div>
