img {
  max-height: 175px;
  margin: 8px auto 8px auto;
  border-radius: 5px;
}

.image-error {
  margin: 8px 0;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 200px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

.display-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 200px;
  border: 2px solid #000000;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
}

:host {
  text-align: center;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
