<div class="upload-container">
  <div class="desktop" *ngIf="!(isHandset$ | async)">
    <div
      class="dropzone"
      appDropzone
      (hovered)="toggleHover($event)"
      (dropped)="onSelectFile($event)"
      [class.hovering]="isHovering"
    >
      <h3>Recipe Image</h3>
      <p>Drag and Drop a File</p>
      <p>or</p>
      <button type="button" mat-stroked-button (click)="fileInput.click()">Choose File</button>
      <input #fileInput hidden type="file" (change)="onSelectFile($event.target.files)" />
      <mat-error *ngIf="imageMessage" class="image-error">{{ imageMessage }}</mat-error>
    </div>
    <div class="display-zone">
      <img *ngIf="imageURL" [src]="imageURL" />
    </div>
  </div>
  <div class="handset" *ngIf="isHandset$ | async">
    <div class="image-selection">
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose Recipe Image</button>
      <input #fileInput hidden type="file" (change)="onSelectFile($event.target.files)" />
      <mat-error *ngIf="imageMessage" class="image-error">{{ imageMessage }}</mat-error>
      <img *ngIf="imageURL" [src]="imageURL" />
    </div>
  </div>

  <!-- <div id="progressBar" *ngIf="percentage | async">
    <mat-progress-bar [value]="percentage" max="100"></mat-progress-bar>
  </div>

  <div *ngIf="snapshot | async">
    <img mat-card-image [src]="downloadURL" />
    <a [href]="downloadURL" target="_blank" rel="noopener"></a>
  </div> -->
</div>
