mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

img {
  background-image: url("/assets/recipe_placeholder.svg");
  max-height: 200px;
}

#progressBar {
  margin: 10px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 200px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

.imageContainer {
  margin: 20px 10px 0px 10px;
}

img {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
