<mat-card *ngFor="let recipe of recipes; let i = index">
  <mat-card-title>{{ recipe.name }}</mat-card-title>
  <img mat-card-image [src]="recipe.imagePath" alt="Recipe Photo" class="card-image" />
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onAddRecipeToGroceryList(recipe)">To Grocery List</button>
    <button mat-raised-button color="accent" (click)="onEditRecipe(i)">Edit</button>
  </mat-card-actions>
</mat-card>
<ul>
  <li></li>
</ul>

<body>
  <aside></aside>
  <header></header>
  <section>
    <button mat-raised-button (click)="onNavigateCreateRecipe()">Go To recipe-create</button>
    <button mat-raised-button (click)="onCreateRecipe()">Create Recipe</button>
  </section>
  <section></section>
  <section></section>
  <main></main>
  <footer></footer>
</body>
<img src="assets/summertime_oatmeal.jpg" />
<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1" />
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Destination
      </mat-panel-title>
      <mat-panel-description>
        Type the country name
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
