<mat-card *ngFor="let recipe of recipes; let i = index">
  <mat-card-title>{{ recipe.name }}</mat-card-title>
  <img mat-card-image [src]="recipe.imagePath" alt="Recipe Photo" class="card-image" />
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onAddRecipeToGroceryList(recipe)">To Grocery List</button>
    <button mat-raised-button color="accent" (click)="onEditRecipe(i)">Edit</button>
  </mat-card-actions>
</mat-card>
<ul>
  <li></li>
</ul>

<body>
  <aside></aside>
  <header></header>
  <section>
    <button mat-raised-button (click)="onNavigateCreateRecipe()">Go To recipe-create</button>
    <button mat-raised-button (click)="onCreateRecipe()">Create Recipe</button>
  </section>
  <section></section>
  <section></section>
  <main></main>
  <footer></footer>
</body>
<img src="assets/summertime_oatmeal.jpg" />
