@import '~@angular/material/theming';
@include mat-core();

$custom-blue: (
    50 : #e6edf8,
    100 : #c0d2ee,
    200 : #97b4e2,
    300 : #6d95d6,
    400 : #4d7fce,
    500 : #2e68c5,
    600 : #2960bf,
    700 : #2355b8,
    800 : #1d4bb0,
    900 : #123aa3,
    A100 : #d4dfff,
    A200 : #a1b8ff,
    A400 : #6e91ff,
    A700 : #557dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$custom-orange: (
    50 : #fcf2e7,
    100 : #f8dec3,
    200 : #f3c89c,
    300 : #eeb274,
    400 : #eaa256,
    500 : #e69138,
    600 : #e38932,
    700 : #df7e2b,
    800 : #db7424,
    900 : #d56217,
    A100 : #ffffff,
    A200 : #ffe3d4,
    A400 : #ffc3a1,
    A700 : #ffb287,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-red: (
    50 : #f8e0e9,
    100 : #edb3c7,
    200 : #e180a2,
    300 : #d54d7d,
    400 : #cc2661,
    500 : #c30045,
    600 : #bd003e,
    700 : #b50036,
    800 : #ae002e,
    900 : #a1001f,
    A100 : #ffcbd1,
    A200 : #ff98a5,
    A400 : #ff6578,
    A700 : #ff4c61,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$recipe-planner-primary: mat-palette($custom-blue);
$recipe-planner-accent: mat-palette($mat-orange, A200, A100, A400);
$recipe-planner-warn: mat-palette($mat-red);

$recipe-planner-theme: mat-light-theme($recipe-planner-primary, $recipe-planner-accent, $recipe-planner-warn);

@include angular-material-theme($recipe-planner-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
